{% extends 'base.html.twig' %}

{% block title %}Oeuvre index{% endblock %}

{% block body %}
    <h1>Oeuvres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Année</th>
                <th>Opus</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvre in pagination %}
            <tr>
                <td>{{ oeuvre.titreOeuvre }} {{ oeuvre.sousTitre }}</td>
                <td>{{ oeuvre.annee }}</td>
                <td>{{ oeuvre.opus }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('oeuvre_show', {'codeOeuvre': oeuvre.codeOeuvre}) }}">voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
