{% extends 'base.html.twig' %}

{% block title %}Oeuvre{% endblock %}

{% block body %}
    <h1>{{ oeuvre.titreOeuvre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ oeuvre.titreOeuvre }}</td>
            </tr>
            <tr>
                <th>Sous titre</th>
                <td>{{ oeuvre.sousTitre }}</td>
            </tr>
            <tr>
                <th>Type Morceau</th>
                <td>{{ oeuvre.typeMorceaux.libelleType }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ oeuvre.annee }}</td>
            </tr>
            <tr>
                <th>Opus</th>
                <td>{{ oeuvre.opus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('oeuvre_index') }}">Retour à la liste</a>
{% endblock %}
