{{ form_start(form) }}
{#{{ form_widget(form) }}#}
<ul class="d-none">
    {% for achat in form.achats %}
    <li>{{ form_row(achat.achatConfirme) }}</li>
    {% endfor %}
</ul>
{#{{ form_row(form.Effectuer_commande) }}#}
<button class="btn btn-primary" type="submit">Commander</button>
{#<button class="btn">{{ button_label|default('Save') }}</button>#}
{{ form_end(form) }}
